<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-V_cG2SfknY0dRCEZERZvHye7mwmbRYg</string>
	<key>GCM_SENDER_ID</key>
	<string>283830594905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aunkurFarmer</string>
	<key>PROJECT_ID</key>
	<string>aunkur-farmer</string>
	<key>STORAGE_BUCKET</key>
	<string>aunkur-farmer.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283830594905:ios:b1f9da2d744b89aa7e3048</string>
</dict>
</plist>